In [137]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

#import pandas and dt, not included with starter code
import datetime as dt
import pandas as pd

In [141]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station
Base.classes.keys()

['measurement', 'station']

In [142]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [244]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
month =  '06'


june_results =[]
june_results = session.query(Measurement.date, Measurement.tobs).\
filter(extract('month', Measurement.date)==6).all()
june_results[1:10]

[('2010-06-02', 76.0),
 ('2010-06-03', 78.0),
 ('2010-06-04', 76.0),
 ('2010-06-05', 77.0),
 ('2010-06-06', 78.0),
 ('2010-06-07', 77.0),
 ('2010-06-08', 78.0),
 ('2010-06-09', 78.0),
 ('2010-06-10', 79.0)]

In [235]:
#  3. Convert the June temperatures to a list.
#the list is initialized before my query in line 8 above

In [238]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_results, columns =['date', 'tobs'])
june_df.rename(columns = {'date': 'Date', 'tobs' :'June Temps'}, inplace = True)

june_df.info()
june_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1700 entries, 0 to 1699
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1700 non-null   object
 1   June Temps  1700 non-null   float64
dtypes: float64(1), object(1)
memory usage: 26.7+ KB

         Date  June Temps
0  2010-06-01        78.0
1  2010-06-02        76.0
2  2010-06-03        78.0
3  2010-06-04        76.0
4  2010-06-05        77.0

In [239]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [243]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
month =  '12' #'2017-12-01'


dec_results = []
dec_results = session.query(Measurement.date, Measurement.tobs).\
    filter(extract('month', Measurement.date) ==12).all()


dec_results[1:10]

[('2010-12-03', 74.0),
 ('2010-12-04', 74.0),
 ('2010-12-06', 64.0),
 ('2010-12-07', 64.0),
 ('2010-12-08', 67.0),
 ('2010-12-09', 77.0),
 ('2010-12-10', 66.0),
 ('2010-12-11', 69.0),
 ('2010-12-12', 68.0)]

In [231]:
# 7. Convert the December temperatures to a list.
#initialized the in cell above line 5

In [232]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_results, columns =['date', 'tobs'])
#dec_df= june_df.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='')
dec_df.rename(columns = {'date': 'Date', 'tobs' :'December Temps'}, inplace = True)

dec_df.info()
dec_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1517 entries, 0 to 1516
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            1517 non-null   object
 1   December Temps  1517 non-null   float64
dtypes: float64(1), object(1)
memory usage: 23.8+ KB

         Date  December Temps
0  2010-12-01            76.0
1  2010-12-03            74.0
2  2010-12-04            74.0
3  2010-12-06            64.0
4  2010-12-07            64.0

In [241]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000